body {
    font-size: 10px;
}

[class*="col-"] {
    background-color: cadetblue;
    border: 1px solid white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

[class*="col-"] > [class*="col-"] {
    background-color: coral;
}

.container {
    margin-bottom: 20px;
}
